<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li>Regulated Fish</li>
      </ol>
      <section class="fishes">
        <% @fish_with_regulations.each do |fish| %>
          <article class="fish">
            <%= link_to fish_path(fish) do %>
              <%= image_tag "marine/fish/#{fish.name.downcase.gsub(/\s+/, '')}", class: "img-responsive img-thumbnail", alt: fish.name %>
            <% end %>
            <%= link_to title(fish), fish_path(fish) %>
            <h4>Regulations</h4>
            <ul class="list-unstyled">
              <li><span class="sub-title">Minimum Size</span> <%= fish.minimum_size %></li>
              <li><span class="sub-title">Bag Limit</span> <%= fish.bag_limit %></li>
            </ul>
          </article>
        <% end %>
      </section>
    </div>
  </div>
</div>
