<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to "Regulated Fish", fish_index_path %></li>
        <li><%= @fish.name %></li>
      </ol>
      <section>
        <article>
          <%= title @fish %>
          <ul class="list-unstyled">
            <li>Order: <%= @fish.order %></li>
            <li>Family: <%= @fish.family %></li>
            <li>Species: <%= @fish.species %></li>
            <li>Occurence: <%= @fish.occurrence %></li>
            <li>Minimum Size: <%= @fish.minimum_size %></li>
            <li>Bag Limit: <%= @fish.bag_limit %></li>
            <li><%= link_to "Google Images", google_image_search_path(@fish), target: :_blank %></li>
          </ul>
        </article>
      </section>
    </div>
  </div>
</div>
