<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to "Regulated Fish", fish_index_path %></li>
        <li><%= @fish.name %></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @fish.img_path, class: "img-responsive img-thumbnail", alt: @fish.name %>
    </div>
    <div class="col-md-8">
      <section class="fish-details">
        <article class="fish">
          <%= title @fish %>
          <ul class="list-unstyled list-inline">
            <li><span class="sub-title">Order</span><%= @fish.order %></li>
            <li><span class="sub-title">Family</span><%= @fish.family %></li>
            <li><span class="sub-title">Species</span><%= @fish.species %></li>
            <li><span class="sub-title">Occurence</span><%= @fish.occurrence %></li>
            <li><span class="sub-title">Minimum Size</span><%= @fish.minimum_size %></li>
            <li><span class="sub-title">Bag Limit</span><%= @fish.bag_limit %></li>
          </ul>
          <%= link_to "View More Images", google_image_search_path(@fish), class: "btn btn-default" %>
        </article>
      </section>
    </div>
  </div>
</div>
